[Unit]
Description=Consul agent
After=network.target

[Service]
ExecStart=/usr/local/bin/consul agent -config-file=/etc/consul/config.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
