[Unit]
Description=nomad agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/nomad
Restart=on-failure
ExecStart=/usr/local/bin/nomad agent $NOMAD_FLAGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
