[Unit]
Description=Nomad agent
After=network.target consul.service docker.service

[Service]
ExecStart=/usr/local/bin/nomad agent -config=/etc/nomad/config.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
